<div class="team1">
    <h2 class="" style="font-size: 30px; background-color: black;color:#fff ">Team 1 Name </h2>
    <table class="table fs-4">
        <thead>
          <tr class="table-info">
            <th class=" " scope="col">#</th>
            <th scope="col">First</th>
            
            <th scope="col">class</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-primary">
            <th  scope="row"> </th>
            <td>Mark Otto</td>
            <td>12th div-A</td>
          </tr>
          <tr class="table-primary">
            <th scope="row">2</th>
            <td>Jacob Thornton</td>
            <td>11th div-C</td>
          </tr>
          <tr class="table-primary">
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td> 12th Div-A</td>
          </tr>
          <tr class="table-primary">
            <th  scope="row">4</th>
            <td>Mark Otto</td>
            <td>12th div-A</td>
          </tr>
          <tr class="table-primary">
            <th scope="row">5</th>
            <td>Jacob Thornton</td>
            <td>11th div-C</td>
          </tr>
          <tr class="table-primary">
            <th scope="row">6</th>
            <td>Larry the Bird</td>
            <td> 12th Div-A</td>
          </tr>
          <tr class="table-primary">
            <th scope="row">7</th>
            <td>Jacob Thornton</td>
            <td>11th div-C</td>
          </tr>
          <tr class="table-primary">
            <th scope="row">8</th>
            <td>Larry the Bird</td>
            <td> 12th Div-A</td>
          </tr>
        </tbody>
      </table>
    
</div>
