<div class="container-fluid">
    <div class="scName col-12 d-flex align-items-center justify-content-start fs-3"><h3>School Name</h3></div>
    <div class="row date ">
        <div class="col-4 dates d-flex align-items-center justify-content-center border border-3 rounded-2 fs-4">date 1 </div>
        <div class="col-4 dates d-flex align-items-center justify-content-center border border-3 rounded-2 fs-4">date 2</div>
        <div class="col-4 dates d-flex align-items-center justify-content-center border border-3 rounded-2 fs-4">date 3</div>
    </div>
    <div class="score row bg-secondary">
        <div class="col-12"></div>
        <div class="col-4">
            <div class="team1 content-section">
                <div class="card" style="width: 18rem;">
                    <img src="/src/assets/Football_Live_Blog_4_1705587974795_1705587983103.jpg" class="card-img-top" alt="abc" width="50px" height="50px">
                    <div class="card-body">
                      <h5 class="card-title">Team 1</h5>                      
                    </div>
                  </div>
            </div> 
        </div>
        <div class="col-4"></div>
        <div class="col-4">
            <div class="team1">
                <img src="D:\angualr project\angulardemo\src\assets\laptop.svg" class="img-fluid">
                <h6>Team 1</h6>
            </div>
        </div>
    </div>


</div>