<div class="container   flex-column align-items-center">
    <!-- School Name Section -->
    <div class="scName text-center mb-4 w-100">
        <h3>School Name</h3>
    </div>

    <!-- Date Section -->
    <!-- <div class="row date mb-3 text-center w-100">
        <div class="col-md-4 dates py-2 rounded-2">Date 1</div>
        <div class="col-md-4 dates py-2 rounded-2">Date 2</div>
        <div class="col-md-4 dates py-2 rounded-2">Date 3</div>
    </div> -->

    <!-- Score Section -->
    <div class="score row py-2 px-3 my-3 rounded-2 " *ngFor="let match of matches">
        <!-- Team 1 -->
        <div class=" col ">
            <div class="card ">
                <img src="assets/Football_Live_Blog_4_1705587974795_1705587983103.jpg" class="rounded-circle"
                    alt="Team 1">
                <div class="card-body">
                    <h5 class="card-title">{{match.TeamName1}}</h5>
                </div>
            </div>
        </div>

        <!-- Score -->
        <div class=" col ">
            <div class="row">
                <h5 class="col">{{match.score1}}</h5>
                <h5 class="mx-2 col">-</h5>
                <h5 class="col">{{match.score2}}</h5>
            </div>

            <div class="match-details mt-2">
                <div>{{match.date}}</div>
                <div>{{match.matchTime}}</div>
            </div>
        </div>

        <!-- Team 2 -->
        <div class=" col ">
            <div class="card ">
                <img src="assets/Football_Live_Blog_4_1705587974795_1705587983103.jpg" class="rounded-circle"
                    alt="Team 2">
                <div class="card-body">
                    <h5 class="card-title">{{match.TeamName2}}</h5>
                </div>
            </div>
        </div>

        <!-- Match Details -->

    </div>
</div>